* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Outfit";
    background-color: black;
}

.main {
    max-width: 144rem;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.card {
    width: 32rem;
    height: 53rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 21px;
    background-color: hsl(0, 0%, 100%);
}

.qr-code {
    height: 32rem;
    width: 32rem;
    padding: 1.6rem;
}

.qr-img {
    width: 100%;
    height: 100%;
    border-radius: 11px;
}

.heading {
    font-size: 2rem;
    padding: 0 3.5rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.5;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.description {
    font-size: 1.5rem;
    text-align: center;
    padding: 0 3.5rem;
    margin-top: 2rem;
    line-height: 1.5;
    color: hsl(220, 15%, 55%);
}